@using System.IdentityModel.Tokens
@using KillerFUNwebApp1._0.Models
@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<div class="game_map">
    <canvas id="A" width="800" height="500"></canvas>
</div>
<audio src="/Audio/Odesza - Above The Middle.mp3" id="background_music"></audio>

@section scripts 
{
    <script src="/Scripts/MainMap.js" language="javascript"></script>
}