@using System.IdentityModel.Tokens
@using KillerFUNwebApp1._0.Models
@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<p>You can click <a href="Player">here</a> to open the character page. <b>HOWEVER:</b> if you do so the monsters in this room will respawn! And if you switched weapons your old weapon will vanish!</p>

<div class="row">
    <div class="col-lg-10">
        <div class="game_map">
            <canvas id="A" width="800" height="500"></canvas>
        </div>
    </div>
    <div class="col-lg-2">
        <label>Playername: </label>
        <br/>
        <label id="playername">---</label>
        <br/>
        <br />
        <label>Player level: </label>
        <br />
        <label id="currentLvl"></label>
        <br/>
        <label>XP until next level:</label>
        <br/>
        <label id="xp">---</label>
        <label> / </label>
        <label id="targetxp">---</label>
        <br />
        <label>HP: </label>
        <br />
        <label id="hp">---</label>
        <label> / </label>
        <label id="max_hp">---</label>
        <br />
        <label>MovePoints: </label>
        <br />
        <label id="mp">---</label>
        <label> / </label>
        <label id="max_mp">---</label>
        <br />
        <label>AttackPoints: </label>
        <br />
        <label id="ap">---</label>
        <label> / </label>
        <label id="max_ap">---</label>
        <br/>
        <br/>
        <label>Weaponname: </label>
        <br />
        <label id="weaponname">---</label>
        <br />
        <br />
        <label>Weapon damage: </label>
        <br />
        <label id="weapondamage"></label>
        <br />
        <label>Weapon crit chance (%): </label>
        <br />
        <label id="weaponcrit"></label>
        <br />
    </div>
</div>

<audio src="/Audio/Theme.wav" id="background_music"></audio>

@section scripts 
{
    <script src="/Scripts/MainMap.js" language="javascript"></script>
}